html, body
{
  height: 100%;
  margin: 0;
}

body
{
background-image: linear-gradient(to bottom right, #a4f7c3, #92c7eb, #fbacba, #f6ccb5, #faf9bb);
}

.header
{
	color: white;
    font-family: 'Yeon Sung';
    font-size: 45px;
    letter-spacing: 10px;
    margin-top: 80px;
    
}


.login_div
{
	background: rgba(255,255,255,0.8);
    float: none;
    border-radius: 15px;
    border-color: #f573a0;
    border-style: dashed;
    border-width: 1mm;
}

.logo
{
	width: 80px;
    margin-top: 30px;
    border-radius: 40px;
    border-color: #fbacba;
    border-width: 10cm;
    border-style: dashed;
}

#login_button
{
	width: 80%;border-radius: 15px;
}

